body{
  font-family:poppin;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

section {
  height: 100%;
  background-color: white;
  padding: 0 3rem;
}

.hero {
  background-color: white;
  height: 100vh;
  color: black;
  font-size: 30px;
  padding: 0;
}

.welcome{
  width: 300px;
  border-radius: 20px;
  padding: 10px;
}

.welcome-container{
  display: flex;
  align-items: left;
  max-width: 100%;
  height: auto;
  flex-wrap: wrap;
}

footer {
  background-color: rgb(0, 0, 0);
  color: rgb(182, 127, 226);
  text-align: center;
  padding: 80px;
}
/* to style nav bar, having content to the right and in line horizontal*/
nav{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

ul{
  display: flex;
  list-style-type: none;
  width:fit-content;
  justify-content: space-around;
  font-size: 30px;
  padding-left: 0;
}

li{
  text-decoration: none;
  list-style-type: none;
}

h1{
  margin: 0;
  max-width: 100%;
  height: auto;
}

h2{
  font-size: 70px;
  max-width: 100%;
  height: auto;
}

p{
  margin: 0;
  font-size: 20px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-area{
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button{
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: coral;
  text-align: center;
  font-size: 25px;
  font-weight: 100;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover{
  background-color: #ef744b;
}

.button:active{
  background-color: #A9A9A9;
  color: #808080;
}

.socials {
  padding-bottom: 200px;
  display: flex;
}

.social{
  margin: 20px;
  color: black;
}

.sub-section{
  display: flex;
  justify-content: space-around;
  padding: 20px 40px;
  flex-wrap: wrap;
}
/* projects */
#projects{
  flex-wrap: nowrap;
}
.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.subtext {
  font-size: 18px;
}

.headshot{
  width: 400px;
  height: 300px;
  border-radius: 100px;
}

.headshot-container{
  display: flex;
  align-items: center;
}

.project-card{
  width: 250px;
  height: 400px;
  box-shadow: 5px 5px 20px rgb(197, 195, 195);
  margin: 10px;
  border-radius: 10px;
}

.project-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

@media only screen and (max-width: 100px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  width: 150px;
  border-radius: 20px;
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration:none;
  color: #ef744b;
}

a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display:flex;
}

.hamburger:focus {
  outline: 0;
}
/* This is so that hamburger can only be viewed with a certain width */
@media only screen and (max-width: 3000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 50px;
    margin: 20px;
    height: 130px;
    align-self: flex-end;
  }
}
ul {
  display: none;
  background-color:#2b2c38;
  margin: 0px;
  position: absolute;
  top: 45px;
  right: 0;
}

ul.show {
  display: block;
  margin-top: 30px;
}

nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column-reverse;
  background-color:#2b2c38;;
  height: 80px;
  position: relative;
}

.contact {
  background: #070707;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  align-items: center;
  grid-gap: 6rem;
}
@media (max-width:670px){
  .contact{
    grid-template-columns: repeat(1,1fr);
    padding: 1rem;
  }

}

.contact-form h2 {
    font-size: 60px;
    margin-bottom: 20px;
}

span {
  color: #f9004d;
}

.contact-form form {
  position: relative;
}

.contact-form form input, form textarea{
  width: 70%;
  padding: 17px;
  border: none;
  margin: 0;
  outline: none;
  background: #a574e7;
  columns: #fff;
  font-size: 1.1rem;
  margin-bottom: 0.7rem;
  border-radius: 10px;
}

/* .contact-form textarea{
  resize: none;
  height: 200px;
} */

/* .contact-form form .btn{
  display: inline-block;
  background: #f9004d;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid transparent;
  border-radius: 30px;
  width: 220px;
  transition: ease .20s;
  cursor: pointer;
} */

/* .contact-form form .btn:hover{
  border: 2px solid #f9004d;
  background: transparent;
  transform: scale(1.1);
  color: #fff;
} */

@media (max-width: 1570px){
  section{
    padding: 80px 3%;
    transition: .2s;
  }
}

.contact-img img {
      max-width: 100%;
      height: auto;
      border-radius: 50%;
      display: flex;
      flex-wrap: wrap;
}

#about-me {
  height: 100%;
}
